.venv/
backend/.venv/
.env
backend/.env
node_modules/
frontend/node_modules/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.eslintcache
.vscode/
.DS_Store
backend/esg_momentum.db
esg_momentum.db
uploads/
frontend/dist/
backend/uploads/
test_small.pdf
tsla-20251231-gen.pdf

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
